<%= bootstrap_form_for(purchase) do |f| %>
<div class="field">
    <%= f.select :from_currency, CURRENCIES %>
</div>

<div class="field">
    <%= f.select :to_currency, CURRENCIES %>
</div>

<div class="field">
    <%= f.number_field :amount_spent, :label => "Purchase Amount" %>
</div>

<div class="actions">
    <%= f.submit :class => "btn btn-success", :value => "Purchase" %>
</div>
<% end %>
