<p id="notice"><%= notice %></p>

<h1>Purchases</h1>

<table class="table">
    <thead>
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Amount spent</th>
            <th>Amount bought</th>
            <th>Exchange rate</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @purchases.each do |purchase| %>
        <tr>
            <td><%= purchase.from_currency %></td>
            <td><%= purchase.to_currency %></td>
            <td><%= purchase.amount_spent %></td>
            <td><%= purchase.amount_bought %></td>
            <td><%= purchase.exch_rate %></td>
            <td><%= link_to 'Show', purchase %></td>
            <td><%= link_to 'Delete', purchase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Purchase', new_purchase_path, :class => "btn btn-default" %>
