<h1>Exchange Rates</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Currency</th>
            <th>Exchange Rate (Relative to USD)</th>
            <th>Weekly Change</th>
            <% if user_signed_in? %>
            <th></th>
            <th></th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% @rates.each do |currency, value| %>
        <tr>
            <td><%= currency %></td>
            <td><%= value[:value].round(4).to_s %></td>
            <% if value[:delta] >= 0 %>
            <td style="color: green"><%= value[:delta].round(4).to_s %>%</td>
            <% else %>
            <td style="color: red"><%= value[:delta].round(4).to_s %>%</td>
            <% end %>
            <% if user_signed_in? %>
            <td><%= link_to 'Buy', new_purchase_path(:to_currency => currency) %></td>
            <td><%= link_to 'Sell', new_purchase_path(:from_currency => currency) %></td>
            <% end %>
        </tr>
        <% end %>
    </tbody>
</table>
