<%= link_to 'Make Purchase', new_purchase_path, :class => "btn btn-default" %>
<%= link_to 'Purchases', purchases_path, :class => "btn btn-default" %>

<h1>Currecy Values</h1>

<table class="table">
    <thead>
        <tr>
            <th>Currency</th>
            <th>Exchange Rate (Relative to USD)</th>
            <th>Weekly Change</th>
        </tr>
    </thead>
    <tbody>
        <% @rates.each do |currency, value| %>
        <tr>
            <td><%= currency %></td>
            <td><%= value[:value].round(2).to_s %></td>
            <% if value[:delta] >= 0 %>
            <td style="color: green"><%= value[:delta].round(2).to_s %>%</td>
            <% else %>
            <td style="color: red"><%= value[:delta].round(2).to_s %>%</td>
            <% end %>
        </tr>
        <% end %>
    </tbody>
</table>
