<!DOCTYPE html>
<html>
  <head>
    <title>Cashout</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- This will flash Devise alerts like "Successfully signed in!" -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <!-- This will render other views inside the <body> of this page -->
    <%= yield %>
  </body>
</html>
