<!DOCTYPE html>
<html>
<head>
    <title>Cashout</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <%= render "layouts/navbar" %>

    <div class="container">
        <div class="col-sm-10 col-sm-offset-1">
            <!-- This will flash Devise alerts like "Successfully signed in!" -->
            <% if notice %>
            <p class="alert alert-info"><%= notice %></p>
            <% end %>
            <% if alert %>
            <p class="alert alert-info"><%= alert %></p>
            <% end %>
            <!-- This will render other views inside the <body> of this page -->
            <%= yield %>
        </div>
    </div>
</body>
</html>
